<select name="Animals" id="animals" [(ngModel)]= "animalVal" (ngModelChange)="animalChanged($event)" >
  <option value="">Please Select Animal</option>
  <option  *ngFor="let a of animals" [ngValue]="a">{{a.name}}</option>
   </select>
<select name="Birds" id="birds" [(ngModel)]= "birdVal" (ngModelChange)="birdChanged($event)" >
  <option value="">Please Select Bird</option>
  <option  *ngFor="let b of birds" [ngValue]="b">{{b.name}}</option>
</select>

<input type="button" value="Get Selected" (click)="dataOnClick()"/>